<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{{root}}assets/css/highlight/{{config.highlight_theme}}.css" rel="stylesheet">
<link href="{{root}}assets/css/custom.css" rel="stylesheet">
<script>
document.addEventListener( 'DOMContentLoaded', function () {

  var modfiier = ' aigis--navclose';
  var pattern = new RegExp( modfiier );
  var $body   = document.body;
  var $button = document.querySelector( '.aigis-toggle' );

  $button.addEventListener( 'click', function () {

    if ( pattern.test( $body.className ) ) {

      $body.className = $body.className.replace( modfiier, '' );

    } else {

      $body.className += modfiier;

    }

  } );

} );
</script>
{{!-- Project Assets --}}
<link href="{{root}}../assets2/css/codegrid-ui.css" rel="stylesheet">
{{!-- /Project Assets --}}

<title>{{config.name}}</title>
</head>
<body>
<button class="aigis-toggle">
	<span class="aigis-icon-list"></span>
</button>
