{{!--
{
  header: {String},
  sidemenu: {String},
  modulelist: {String},
  modules: {String},
  footer: {String},
}
--}}
{{{header}}}
{{{sidemenu}}}

<h2 class="aigis-categoryHeading">{{name}}</h2>

{{{modulelist}}}
{{{modules}}}

{{{footer}}}
